In [ ]:
CREATE DATABASE IF NOT EXISTS coches;

USE coches;

-- Tabla de ubicaciones
CREATE TABLE IF NOT EXISTS ubicaciones (
    id INT AUTO_INCREMENT PRIMARY KEY,
    ubicacion VARCHAR(100) NOT NULL UNIQUE,
    latitud DECIMAL(11, 8),
    longitud DECIMAL(11, 8),
    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
    updated_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP
);

-- Tabla de tipos de carrocería
CREATE TABLE IF NOT EXISTS tipos_carroceria (
    id INT AUTO_INCREMENT PRIMARY KEY,
    tipo_carroceria VARCHAR(100) NOT NULL UNIQUE,
    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP
);

-- Tabla de combustible
CREATE TABLE IF NOT EXISTS combustibles (
    id INT AUTO_INCREMENT PRIMARY KEY,
    combustible VARCHAR(50) NOT NULL UNIQUE
);

-- Tabla de transmisiones
CREATE TABLE IF NOT EXISTS transmisiones (
    id INT AUTO_INCREMENT PRIMARY KEY,
    transmision VARCHAR(50) NOT NULL UNIQUE
);

-- Tabla principal de vehículos
CREATE TABLE IF NOT EXISTS vehiculos (
    id INT AUTO_INCREMENT PRIMARY KEY,
    id_extraccion VARCHAR(255),
    timestamp_extraccion TIMESTAMP,
    marca VARCHAR(255) NOT NULL,
    modelo VARCHAR(255) NOT NULL,
    precio_contado DECIMAL(12,2),
    año_matriculacion INT,
    combustible_id INT,
    kilometraje INT,
    ubicacion_id INT,
    latitud DECIMAL(11, 8),
    longitud DECIMAL(11, 8),
    garantia VARCHAR(100),
    transmision_id INT,
    potencia_cv INT,
    puertas INT,
    asientos INT,
    tipo_carroceria_id INT,
    mes_matriculacion INT,
    financiacion_disponible BOOLEAN DEFAULT FALSE,
    es_km0 BOOLEAN DEFAULT FALSE,
    es_demo BOOLEAN DEFAULT FALSE,
    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
    updated_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
    FOREIGN KEY (ubicacion_id) REFERENCES ubicaciones(id),
    FOREIGN KEY (tipo_carroceria_id) REFERENCES tipos_carroceria(id),
    FOREIGN KEY (combustible_id) REFERENCES combustibles(id),
    FOREIGN KEY (transmision_id) REFERENCES transmisiones(id),
    INDEX idx_marca (marca),
    INDEX idx_precio (precio_contado),
    INDEX idx_kilometraje (kilometraje),
    INDEX idx_año_matriculacion (año_matriculacion)
);