In [ ]:
CREATE DATABASE IF NOT EXISTS coches;

USE coches;

CREATE TABLE vehiculos (
    id INT AUTO_INCREMENT PRIMARY KEY,
    marca VARCHAR(50) NOT NULL,
    modelo VARCHAR(50) NOT NULL,
    version VARCHAR(50),
    ano_fabricacion INT NOT NULL,
    precio_contado DECIMAL(10,2),
    precio_venta_nuevo DECIMAL(10,2),
    kilometraje INT,
    fecha_matriculacion DATE,
    garantia_meses INT,
    transmision VARCHAR(50),
    tipo_motor VARCHAR(50),
    carroceria VARCHAR(50),
    num_asientos INT,
    potencia_cv INT,
    num_puertas INT,
    color VARCHAR(50),
    largo_mm INT,
    ancho_mm INT,
    alto_mm INT,
    capacidad_maletero_l VARCHAR(50),
    batalla_mm INT,
    peso_max_kg INT,
    comentario_vendedor TEXT,
    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
    updated_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP
);


CREATE TABLE categorias_equipamiento (
    id INT AUTO_INCREMENT PRIMARY KEY,
    nombre VARCHAR(50) NOT NULL,
    descripcion TEXT,
    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP
);


CREATE TABLE equipamiento (
    id INT AUTO_INCREMENT PRIMARY KEY,
    categoria_id INT,
    codigo VARCHAR(20),
    nombre VARCHAR(100) NOT NULL,
    descripcion TEXT,
    es_serie BOOLEAN DEFAULT TRUE,
    FOREIGN KEY (categoria_id) REFERENCES categorias_equipamiento(id),
    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP
);


CREATE TABLE vehiculo_equipamiento (
    vehiculo_id INT,
    equipamiento_id INT,
    PRIMARY KEY (vehiculo_id, equipamiento_id),
    FOREIGN KEY (vehiculo_id) REFERENCES vehiculos(id),
    FOREIGN KEY (equipamiento_id) REFERENCES equipamiento(id)
);


CREATE TABLE datos_tecnicos (
    id INT AUTO_INCREMENT PRIMARY KEY,
    vehiculo_id INT,
    tipo VARCHAR(50) NOT NULL, -- 'Motor', 'Transmisi√≥n', 'Prestaciones', etc.
    nombre VARCHAR(100) NOT NULL,
    valor VARCHAR(255),
    unidad VARCHAR(20),
    FOREIGN KEY (vehiculo_id) REFERENCES vehiculos(id),
    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP
);


CREATE TABLE consumos_emisiones (
    id INT AUTO_INCREMENT PRIMARY KEY,
    vehiculo_id INT,
    ciclo VARCHAR(50) NOT NULL, -- 'Urbano', 'Extraurbano', 'Mixto', etc.
    consumo DECIMAL(5,2),
    emisiones_co2 DECIMAL(5,2),
    autonomia_km INT,
    FOREIGN KEY (vehiculo_id) REFERENCES vehiculos(id),
    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP
);