In [ ]:

USE coches;

INSERT INTO vehiculos (marca, modelo, version, ano_fabricacion, precio_contado, precio_venta_nuevo, kilometraje, fecha_matriculacion, garantia_meses, transmision, tipo_motor, carroceria, num_asientos, potencia_cv, num_puertas, color, largo_mm, ancho_mm, alto_mm, capacidad_maletero_l, batalla_mm, peso_max_kg, comentario_vendedor)
VALUES 
('Toyota', 'Corolla', 'Hybrid Executive', 2023, 28500.00, 29990.00, 15000, '2023-03-15', 36, 'Automática', 'Híbrido', 'Sedán', 5, 122, 4, 'Blanco Perla', 4630, 1780, 1435, '361', 2700, 1650, 'Excelente estado, único dueño, mantenimiento en concesionario'),
('Volkswagen', 'Golf', 'GTI Performance', 2022, 32900.00, 34990.00, 12000, '2022-05-20', 24, 'Automática DSG', 'Gasolina', 'Hatchback', 5, 245, 5, 'Rojo Tornado', 4284, 1789, 1456, '380', 2636, 1520, 'Versión deportiva con paquete Performance, llantas de 19"'),
('Audi', 'Q5', '45 TFSI Quattro S line', 2021, 42900.00, 45900.00, 28000, '2021-07-10', 12, 'Automática', 'Gasolina', 'SUV', 5, 265, 5, 'Gris Nardo', 4682, 1893, 1659, '550', 2819, 2100, 'Full equipamiento, techo panorámico, asientos deportivos');


INSERT INTO categorias_equipamiento (nombre, descripcion)
VALUES 
('Confort', 'Equipamiento relacionado con el confort del vehículo'),
('Seguridad', 'Sistemas de seguridad activa y pasiva'),
('Multimedia', 'Sistemas de infoentretenimiento y conectividad'),
('Exterior', 'Elementos exteriores y estéticos'),
('Asistencia a la conducción', 'Sistemas avanzados de asistencia al conductor');


INSERT INTO equipamiento (categoria_id, codigo, nombre, descripcion, es_serie)
VALUES 
(1, 'CLIMA-01', 'Climatizador bizona', 'Control independiente de temperatura para conductor y acompañante', TRUE),
(1, 'ASIENTO-02', 'Asientos calefactables', 'Asientos delanteros con calefacción', FALSE),
(2, 'AIRBAG-01', 'Airbags frontales, laterales y de cortina', 'Sistema completo de airbags', TRUE),
(2, 'ESP-01', 'Control de estabilidad ESP', 'Incluye control de tracción y antibloqueo de frenos', TRUE),
(3, 'NAV-01', 'Sistema de navegación', 'Pantalla táctil con navegación GPS y actualizaciones online', TRUE),
(3, 'CARPLAY-01', 'Apple CarPlay/Android Auto', 'Conectividad con smartphones', TRUE),
(4, 'LLANTAS-01', 'Llantas de aleación 18"', 'Llantas de diseño específico', TRUE),
(4, 'LED-01', 'Iluminación LED', 'Faros y luces diurnas LED', TRUE),
(5, 'ACC-01', 'Control de crucero adaptativo', 'Mantiene distancia con el vehículo precedente', FALSE),
(5, 'APARK-01', 'Asistente de aparcamiento', 'Asistencia para aparcar en paralelo y perpendicular', TRUE);


INSERT INTO vehiculo_equipamiento (vehiculo_id, equipamiento_id)
VALUES 
(1, 1), (1, 3), (1, 4), (1, 5), (1, 6), (1, 7), (1, 8), (1, 10),
(2, 1), (2, 2), (2, 3), (2, 4), (2, 5), (2, 6), (2, 7), (2, 8), (2, 9), (2, 10),
(3, 1), (3, 2), (3, 3), (3, 4), (3, 5), (3, 6), (3, 7), (3, 8), (3, 9), (3, 10);


INSERT INTO datos_tecnicos (vehiculo_id, tipo, nombre, valor, unidad)
VALUES 
(1, 'Motor', 'Cilindrada', '1798', 'cc'),
(1, 'Motor', 'Combustible', 'Híbrido (Gasolina/Eléctrico)', NULL),
(1, 'Motor', 'Potencia máxima', '122', 'CV'),
(1, 'Transmisión', 'Tipo', 'CVT', NULL),
(1, 'Prestaciones', 'Aceleración 0-100 km/h', '10.6', 's'),
(1, 'Prestaciones', 'Velocidad máxima', '180', 'km/h'),
(1, 'Consumo', 'Consumo mixto', '4.3', 'l/100km'),
(2, 'Motor', 'Cilindrada', '1984', 'cc'),
(2, 'Motor', 'Combustible', 'Gasolina', NULL),
(2, 'Motor', 'Potencia máxima', '245', 'CV'),
(2, 'Transmisión', 'Tipo', 'DSG 7 velocidades', NULL),
(2, 'Prestaciones', 'Aceleración 0-100 km/h', '6.2', 's'),
(2, 'Prestaciones', 'Velocidad máxima', '250', 'km/h'),
(3, 'Motor', 'Cilindrada', '1984', 'cc'),
(3, 'Motor', 'Combustible', 'Gasolina', NULL),
(3, 'Motor', 'Potencia máxima', '265', 'CV'),
(3, 'Transmisión', 'Tipo', 'S tronic 7 velocidades', NULL),
(3, 'Prestaciones', 'Aceleración 0-100 km/h', '6.1', 's'),
(3, 'Prestaciones', 'Velocidad máxima', '240', 'km/h');


INSERT INTO consumos_emisiones (vehiculo_id, ciclo, consumo, emisiones_co2, autonomia_km)
VALUES 
(1, 'Urbano', 3.8, 87, NULL),
(1, 'Extraurbano', 4.2, 95, NULL),
(1, 'Mixto', 4.0, 92, NULL),
(2, 'Urbano', 8.5, 194, NULL),
(2, 'Extraurbano', 5.8, 132, NULL),
(2, 'Mixto', 6.8, 154, NULL),
(3, 'Urbano', 9.2, 210, NULL),
(3, 'Extraurbano', 6.5, 148, NULL),
(3, 'Mixto', 7.5, 171, NULL);

SELECT * FROM vehiculos;
-- -------------------------------------------------------------------------------
-- Todos 
SELECT 
    id,
    marca,
    modelo,
    version,
    ano_fabricacion AS año,
    CONCAT('€', FORMAT(precio_contado, 2)) AS precio,
    kilometraje,
    fecha_matriculacion,
    transmision,
    tipo_motor,
    color
FROM vehiculos
ORDER BY marca, modelo;

-- Datos técnicos
SELECT 
    v.marca,
    v.modelo,
    dt.tipo AS categoria_tecnica,
    dt.nombre AS caracteristica,
    dt.valor,
    dt.unidad
FROM vehiculos v
JOIN datos_tecnicos dt ON v.id = dt.vehiculo_id
ORDER BY v.marca, v.modelo, dt.tipo, dt.nombre;

-- equipamiento por coche
SELECT 
    v.marca,
    v.modelo,
    ce.nombre AS categoria_equipamiento,
    e.nombre AS equipamiento,
    e.descripcion,
    CASE WHEN e.es_serie THEN 'SERIE' ELSE 'OPCIONAL' END AS tipo
FROM vehiculos v
JOIN vehiculo_equipamiento ve ON v.id = ve.vehiculo_id
JOIN equipamiento e ON ve.equipamiento_id = e.id
JOIN categorias_equipamiento ce ON e.categoria_id = ce.id
ORDER BY v.marca, v.modelo, ce.nombre, e.nombre;

-- Consumos y emisiones
SELECT 
    v.marca,
    v.modelo,
    v.tipo_motor,
    ce.ciclo,
    ce.consumo AS 'consumo_l/100km',
    ce.emisiones_co2 AS 'emisiones_gCO2/km',
    v.potencia_cv AS 'potencia_CV'
FROM vehiculos v
JOIN consumos_emisiones ce ON v.id = ce.vehiculo_id
ORDER BY ce.ciclo, v.marca, v.modelo;

-- Análisis de precios
SELECT 
    marca,
    modelo,
    ano_fabricacion AS año,
    CONCAT('€', FORMAT(precio_contado, 2)) AS precio_contado,
    CONCAT('€', FORMAT(precio_venta_nuevo, 2)) AS precio_nuevo,
    CONCAT(ROUND((precio_venta_nuevo - precio_contado) / precio_venta_nuevo * 100, 2), '%') AS descuento,
    CONCAT(ROUND(kilometraje / (YEAR(CURDATE()) - ano_fabricacion), 0), ' km/año') AS uso_anual
FROM vehiculos
ORDER BY marca, modelo;

-- Buscar vehículos que tengan un equipamiento concreto (ej: Apple CarPlay)
SELECT 
    v.marca,
    v.modelo,
    v.version,
    v.ano_fabricacion AS año,
    v.color,
    CONCAT('€', FORMAT(v.precio_contado, 2)) AS precio
FROM vehiculos v
JOIN vehiculo_equipamiento ve ON v.id = ve.vehiculo_id
JOIN equipamiento e ON ve.equipamiento_id = e.id
WHERE e.nombre LIKE '%CarPlay%'  --  cualquier equipamiento
ORDER BY v.precio_contado;