In [ ]:
1- Listar vehículos con ciudad y tipo de carrocería

SELECT 
    v.id,
    v.marca,
    v.modelo,
    v.precio_final,
    u.ciudad AS ubicacion,
    t.nombre AS tipo_carroceria
FROM 
    vehiculos v
LEFT JOIN 
    ubicaciones u ON v.ubicacion_id = u.id
LEFT JOIN 
    tipos_carroceria t ON v.tipo_carroceria_id = t.id
ORDER BY 
    v.created_at DESC;

In [ ]:
2- los 10 vehículos más caros

SELECT 
    marca,
    modelo,
    precio_final
FROM 
    vehiculos
ORDER BY 
    precio_final DESC
LIMIT 10;

In [ ]:
3- Cuántos vehículos hay por ciudad

SELECT 
    u.ciudad,
    COUNT(*) AS cantidad_vehiculos
FROM 
    vehiculos v
JOIN 
    ubicaciones u ON v.ubicacion_id = u.id
GROUP BY 
    u.ciudad
ORDER BY 
    cantidad_vehiculos DESC;

In [ ]:
4- Vehículo con más de 200 CV y menos de 50.000 km

SELECT 
    marca,
    modelo,
    potencia,
    kilometraje
FROM 
    vehiculos
WHERE 
    potencia > 200 AND kilometraje < 50000;

In [ ]:
SELECT 
    *
FROM 
    vehiculos
WHERE 
    marca = 'BMW' AND modelo LIKE '%X1%';

In [ ]:
6- Obtener vehículo por tipo de carrocería

SELECT 
    v.marca,
    v.modelo,
    t.nombre AS tipo_carroceria
FROM 
    vehiculos v
JOIN 
    tipos_carroceria t ON v.tipo_carroceria_id = t.id
WHERE 
    t.nombre = 'SUV';

In [ ]:
7- Solo vehículos eléctricos

SELECT 
    marca,
    modelo,
    tipo_motor,
    precio_final
FROM 
    vehiculos
WHERE 
    combustible_electrico = TRUE;

In [ ]:
8- vehículos por tipo de transmisión

SELECT 
    transmision,
    COUNT(*) AS cantidad
FROM 
    vehiculos
GROUP BY 
    transmision;

In [ ]:
9- Vehículos matriculados en los últimos 2 años

SELECT 
    marca,
    modelo,
    ano_matriculacion
FROM 
    vehiculos
WHERE 
    ano_matriculacion >= YEAR(CURDATE()) - 2;

In [ ]:
10- Vehículos con descuento aplicado

SELECT 
    marca,
    modelo,
    descuento,
    precio_contado,
    precio_final
FROM 
    vehiculos
WHERE 
    descuento > 0;